body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url('background.jpg');
    background-size:cover;
    font-weight: bold;
    font-style: italic;
}

.login-container {
    background-color: #eaeaed71;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2{
    padding-left: 70px;
}
label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button.aa:hover{
    background-color: #45a04900;

}
button:hover {
    background-color: #45a049;
}
.aa{
background-color: #f5f2f200;
color: #45a04900;
}
.error-message {
    color: #990e0e;
    margin-top: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group img {
    width: 20px; /* Adjust the width as needed */
    margin-right: 8px; /* Adjust the margin as needed */
}